.bg {
    background-image: linear-gradient(to bottom right, #bdc3c7, #2c3e50);
    display: grid;
    grid-template-rows: 20px 60px 50px 1fr 20px;
    grid-template-columns: 20px 1fr 1fr 20px;
    font-family: 'Roboto Slab', serif;

}
.answer {
    grid-column: 2/4;
    grid-row: 3/4;
    align-self: center;
    text-align: center;
    display: none;
}
.test {
    -webkit-text-stroke-color: black;
    -webkit-text-stroke-width: 0.4px;
}
a {
    text-decoration: none;
    font-weight: bold;
    color: red;
    -webkit-text-stroke-color: black;
    -webkit-text-stroke-width: 0.4px;
}
a:hover {
    color: lime;
    -webkit-text-stroke-color: black;
    -webkit-text-stroke-width: 0.4px;
}
h1{
    text-align: center;
    grid-column: 2/4;
    display: inline-block;
    grid-row: 1/3;
}
.bg > .pic {
    display: inline-block;
    grid-column: 2/3;
    grid-row: 3/4;
    text-align: end;
}
.bg > .forma {
    display: inline-block;
    grid-column: 2/4;
    margin: auto;
    grid-row: 4/5;
    align-self: center;
}
.checkbox-round {
    width: 1.2em;
    height: 1.2em;
    background-color: white;
    border-radius: 50%;
    vertical-align: middle;
    border: 1px solid #000;
    -webkit-appearance: none;
    outline: none;
    cursor: pointer;
}

.checkbox-round:checked {
    background-image: url(./check-mark.png);
    background-position: center;
    background-size: contain;
}
img {
    border:2px solid black;
    width: 263px;
    height: 263px;
}

.btn-grad {
    background-image: linear-gradient(to right, #314755 0%, #26a0da  51%, #314755  100%);
    margin: auto;
    margin-top: 13px;
    padding: 10px 20px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: blanchedalmond;
    box-shadow: 0 0 10px #eee;
    border-radius: 13px;
    display: block;
    font-weight: 900;
    -webkit-text-stroke-color: black;
    -webkit-text-stroke-width: 0.6px;
 }

 .btn-grad:hover {
   background-position: right center;
   color: #fff;
   text-decoration: none;
 }
